{# include 'header' #}
{% include 'sidebar_vue' %}
<section class="hero">
	<div class="cont cont--fw">
		<div class="hero__wrapper" style="height: 50vh !important;">
			<div class="hero-main">
				<div class="cont cont--min">
					<div class="hero-main__wrapper">
						<div class="hero-top">
							<div class="hero-top__wrapper">
								<div class="hero-top__item">
									<div class="hero-top__logo">
										<a href="/">
											{% include 'domain_msgs' with {field: 'logoindex',isHTML:true} %}
										</a>
									</div>
								</div>
								<div class="hero-top__item">
									<div class="hero-top__anthem">
										НАЧНИ СВОЙ ОТДЫХ ВМЕСТЕ С НАМИ!
										
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-slider">
				
				<div class="hero-slide" style="background-image: url(/site/theme/images/service_holiday.png)">
					<div class="hero-slide__wrapper" style="height: 50vh !important;     align-items: flex-end !important;">
						<div class="hero-slide__inner">
							<div class="cont cont--min">
								<div class="hero-slide__title" style="text-align: center;">
									Стать партнером
								</div>
								<!--div class="" style="color:#fff; font-size:30px; position: absolute;right: 270px;margin-top: -100px;"> Фото и видео съёмка <br>Дизайн и брендинг <Br>Копирайт и переводы</div-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	


	
						
						
<section class="forus">
	<div class="cont">
		<!--h2 class="section__title">Оформим и разместим</h2-->
		<!--div class="section__subtitle">Дайте вашим клиентам больше</div-->
		<div class="forus__wrapper">
			<div class="foru">
				<div class="foru__item">
					<div class="foru__content">
						<div class="foru__title">Разместим вашу информацию</div>
						<div class="foru__desc">
							<div>Добавим объекты, экскурсии, события и всё что нужно туристам. Проработаем контент, визуальную часть и 
								поможем с интеграциями. Включим ваши объекты в обзорные статьи и маршруты. </div><Br>
							<!--ul>
								<li> Разработка фирменного стиля (логотипы, брендбуки, айдентика)</li>
								<li> Полиграфия (визитки, буклеты, листовки)</li>
								<li> Оформление социальных сетей</li>
								<li> Авторская иллюстрация (сувенирная продукция, мерч, персонажи, иллюстрации, инфографика)</li>
								<li> Веб-дизайн</li>
							</ul-->
						</div>
					</div>
				</div>
				<div class="foru__item">
					<div class="foru__img">
						<img src="/site/theme/images/service1.png">
					</div>
				</div>
			</div>
			<div class="foru">
				<div class="foru__item">
					<div class="foru__content">
						<div class="foru__title">Дополнительные возможности</div>
						<div class="foru__desc">
							<div>Проработаем концепцию размещения. Ваши предложения в рекомендательной системе и в ленте актуальном.
							Предложим не стандартные решения выходящие за рамки проекта.</div><Br>
							<!--ul>
								<li>Разработка сайтов на платформе </li>
								<li>Разработка сайтов на CMS</li>
								<li>Редизайн сайтов</li>
								<li>А/В - тестирование</li>
								<li>Техническая поддержка</li>
								<li>Домены</li>
								<li>Хостинг</li>
							</ul-->
						</div>
					</div>
				</div>
				<div class="foru__item">
					<div class="foru__img">
						<img src="/site/theme/images/service2.png">
					</div>
				</div>
			</div>
			<!--div class="foru">
				<div class="foru__item">
					<div class="foru__content">
						<div class="foru__title">ТЕХ. ПОДДЕРЖКА</div>
						<div class="foru__desc">
							<div>Ваш партнер:  ДЕПАРТАМЕНТ САЙТОВ</div><Br>
							<ul>
								<li>Техническая поддержка</li>
								<li>Домены</li>
								<li>Хостинг</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="foru__item">
					<div class="foru__img">
						<img src="/site/theme/images/service3.png">
					</div>
				</div>
			</div-->
			<div class="foru">
				<div class="foru__item">
					<div class="foru__content">
						<div class="foru__title">Проинформаруем пользователей</div>
						<div class="foru__desc">
							<div>Предложим дополнительные рекламные возможности для популяризации вашего предложения.  </div><Br>
							<!--ul>
								<li>SEO-продвижение</li>
								<li>Медийная реклама</li>
								<li>Социальные медиа</li>
								<li>Подключение новых рекламных каналов</li>
								<li>Блогеры / PR</li>
								<li>Индивидуальны условия размещения информации</li>
								<li>Специальные креативы</li>
								<li>Дополнительное размещение в SMM</li>
								<li>Копирайт, статья, обзоры</li>
								<li>Фото / видео съёмка</li>
								<li>Перевод на иностранные языки</li>
							</ul-->
						</div>
					</div>
				</div>
				<div class="foru__item">
					<div class="foru__img">
						<img src="/site/theme/images/service4.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>						
						



<Br><br>





{% include 'footer' %}