<form action="/register" class="auth js-auth-form" method="post">
	<div class="form-group">
		<input class="form__data form-control" pattern="[a-zA-Z0-9]+" name="login" placeholder="Логин (лат. буквы и цифры)" type="text" value="" required>
	</div>
	<div class="form-group">
		<input class="form__data form-control" name="email" placeholder="E-mail" type="email" value="" required>
	</div>
	<div class="form-group">
		<input class="form__data form-control" minlength="8" name="password" placeholder="Пароль" type="password">
	</div>
	<div class="form-group">
		<input class="form__data form-control" minlength="8" name="password_confirmation" placeholder="Подтверждение пароля" type="password">
	</div>
	<div class="form-group form-group--tac" >
		<button class="form__button rbtn rbtn--text rbtn--main" type="submit">Зарегистрироваться</button>
	</div>
	
	<div class="form-group form-group--mid">
		<a href="#" class="rbtn rbtn--text js-auth" data-modale-trigger="auth">Войти</a>
	</div>
</form>